<h1>{{title}}</h1>
<form [formGroup]="formLogin" (ngSubmit)="logar()">
  <label>Username:</label>
  <input type="text" class="form-control" placeholder="username" formControlName="username">
  <div *ngIf="!formLogin.controls['username'].valid">
    Adicione um username
  </div>
  <br>
  <label>Password:</label>
  <input type="password" class="form-control" placeholder="password" formControlName="password">
  <div *ngIf="!formLogin.controls['password'].valid">
    Adicione um password válido entre 6 e 10 caracteres
  </div>
  <br>
  <button type="submit" [disabled]="!formLogin.valid"> Logar</button>
</form>

Logado sim ou nao: <br>
{{session | json}}
