<h1>{{title}}</h1>
<form [formGroup]="formLogin" (ngSubmit)="logar()" class="well">
  <label>Username:</label>
  <input type="text" class="form-control" placeholder="email" formControlName="email">
  <br>
  <label>Password:</label>
  <input type="password" class="form-control" placeholder="password" formControlName="password">
  <br>
  <button type="submit" [disabled]="!formLogin.valid" class="btn btn-success">
    Logar
    <i class="fa fa-spinner fa-spin" *ngIf="saving"></i>
  </button>
</form>
